{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />     

 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body style="background: rgb(6,41,110);
  background: linear-gradient(90deg, rgba(6,41,110,1) 0%, rgba(96,118,162,1) 100%); color: white;" >

    <div class="text-center">
      <h1 style="font-family: Helvetica Neue,Helvetica,Arial,sans-serif 20px; color:white;">eventO
        <span class="material-symbols-outlined">
          festival
          </span>
      </h1>
    </div>
    <div style="margin-left: 110px; margin-top: 70px; height: 400px; width: 400px;">
        <form action="" method="post">
            {%csrf_token%}
    
    
    
                <label for="a1">Phone no :</label><br>
                <input id="a1" type="number" name="phn">
                <br>
        
                <label for="a2">Address :</label><br>
                <input id="a2" type="text" name="add" id="">
                <br>
        
                <label for="a3">Date :</label><br>
                <input id="a3" type="date" name="dt">
                <br>
                                             
                <label for="a4">Time :</label><br>
                <input id="a4" type="time" name="tm">
                <br>
        
                <label for="a5">Description :</label><br>
                <input id="a5" style="height: 120px; width: 250px;" type="text" name="des">
                <br><br>
                <button class="btn btn-success">Check Out $</button>
    
    
    
        </form>      
       
    </div>
    <div style="margin-top: -373px; margin-left: 610px;">
      <img style="height: 450px; width:550px;" src="{%static 'images/detail.jpg' %}" alt="">

    </div>
  </body>
</html>