{%extends 'navbar.html'%}
{%load static%}
{% block nav %}




 <div style="height: 500px;">
  <img src="{%static 'images/plan.jpg'%}" alt="" height="500px;">
  <h2 style="margin-top: -350px; margin-left: 615px;">Online <br>
    Booking system for <br> 
    <p style="font-size: 50px; font-style:initial;" >Event and appointment <br> scheduler</h2></p>

    <a href="{% url 'selectevt' %}" class="btn btn-success" style="margin-top: 40px; margin-left: 615px; border-radius: 20px; width: 210px;">Plan your Event</a>

 </div>
<br>

<div style="height: 700px; background-color:white">
  <hr style="color: white;">

</div>
<div style="background-color: #06296e; height: 300px;"><br><br><br><br>
  <div ><h4 style="font-style: italic; font-family: 'Raleway',sans-serif!important; font-weight: 900!important; color: white; font-size: 30px!important; margin-left: 30px;">We are <br> here to hear<br> you.</h4></div>
   <h4 style="margin-left: 347px; margin-top: -136px; color: white;"><br> Copyright <br></BR> </h4> 
    <h5  style="margin-left: 350px; margin-top: -28px; color: white;">© EventO 2023</h5>
    <h4 style="margin-left: 619px; margin-top: -70px; color: white;">Contact :</h4>
    <h5 style="margin-left: 620px; margin-top: 0px; color: white;">
      Dubai – United Arab Emirates <br>
      E : info@EventO.com <br>
      
      T : +971 55 555 5555</h5>
   <div> 
    <h4 style="margin-left: 980px; margin-top: -115px; color: white;">Follow Us</h4> <br>
    <a href="https://about.meta.com/?campaign_id=14884913640&extra_1=s%7Cc%7C550525804941%7Cb%7Cfacebook%20%27%7C&placement=&creative=550525804941&keyword=facebook%20%27&partner_id=googlesem&extra_2=campaignid%3D14884913640%26adgroupid%3D128696220912%26matchtype%3Db%26network%3Dg%26source%3Dnotmobile%26search_or_content%3Ds%26device%3Dc%26devicemodel%3D%26adposition%3D%26target%3D%26targetid%3Dkwd-327195741349%26loc_physical_ms%3D1007778%26loc_interest_ms%3D%26feeditemid%3D%26param1%3D%26param2%3D&gclid=CjwKCAjwsKqoBhBPEiwALrrqiKN3JHndC0NKdvfWQvLuBqk62MCI6XuejU_sRjfel1I1S8yF4FvLXhoCFWYQAvD_BwE" style="margin-top: 0px; margin-left: 982px;"><i style="color: white;" class="fa-brands fa-facebook"></i></a>
    <div style="margin-top: -24px;">
      <a href="" style="margin-top: 0px; margin-left: 1025px;"><i  style="color: white;" class="fa-brands fa-instagram"></i></a>
  
    </div>
    <div style="margin-top: -24px;">
      <a href=""><i style="color: white;margin-left: 1065px;" class="fa-brands fa-linkedin-in"></i></a>
      

    </div>
    <div style="margin-top: -24px;">
      <a href="https://twitter.com/"  style="margin-left: 1105px;"><i style="color: white;" class="fa-brands fa-twitter"></i></a>
    </div>

   </div>

    
</div>




{% endblock nav %}